@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #6eb0ec;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  /* --max-width: 800px; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* img {
  display: flex;
  width: 75%; */
/* } */

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Raleway", sans-serif;
}


.header__container {
  /* max-width: var(--max-width); */
  margin: auto;
  /* padding: 6rem 8rem; */
  display: flex;
  /* gap: 0rem; */
  gap: 0rem;
  padding-left: 105px;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  color: var(--text-dark);
}

.header__container h1 span {
  color: var(--primary-color);
  font-size: 4rem;

}

.header__container p {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
}
.header__container p span{
  font-size: 1rem;
}


.header__container form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem 0;
  background-color: #f6f4f7;
  border-radius: 10px;
}

.header__container .input__row {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.header__container .input__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__container .input__group span {
  color: var(--text-dark);
}

.header__container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.header__container button {
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}
.header__image{
  text-align: -moz-right;
}


@media (width < 768px) {

  .header__container {
    align-items: center;
    text-align: left;
  }

  .header__container h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 649;
    line-height: 3rem;
    color: var(--text-dark);
  }
  .header__content h1 span{
    font-size: 2rem;
  }
}

@media (width > 1024px) {
  .header__container form {
    flex-direction: row;
  }

  .header__container button {
    width: fit-content;
  }
}
@media (max-width:1000px ){
  #Banner-img{
    max-width: 243px;
  }
  
}
@media(width<450px){
  .header__container{
  flex-direction: column-reverse;
  width: 100%;
  padding: 0;
  align-items: center;
 
  }
  #Banner-img {
    max-width: 243px;
  }
  .header__container h1{
  font-size: 2rem;
    font-weight: 649;
    line-height: 2rem;
  }
  .header__container h1 span{
  font-size: 2rem;
    font-weight: 649;
  }

  .header__content{
    width: 100%;
  }

}